<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>TMR-RTC IRQ</string>
					<key>Find</key>
					<data>
					UlRDXwhfSElEDEHQCwAIX0NSUxEQCg1HAXAA
					cAABCCIAAXkAW4ItVElNUghfSElEDEHQAQAI
					X0NSUxEYChVHAUAAQAABBEcBUABQABAEIgEA
					eQBbgk8E
					</data>
					<key>Replace</key>
					<data>
					UlRDXwhfSElEDEHQCwAIX0NSUxENCgpHAXAA
					cAABAnkAW4IqVElNUghfSElEDEHQAQAIX0NS
					UxEVChJHAUAAQAABBEcBUABQABAEeQBbgk8E
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BAT0 Override</string>
					<key>Find</key>
					<data>
					W4JMbUJBVDAIX0hJRAxB0AwKCF9VSUQACF9Q
					Q0wSBgFQQ0kwCEJUUF8ACEJUQ0gACEJTVEEA
					FCFfU1RBAKAKk0VDT04ApAoPoQ+gCEJTVEGk
					Ch+hBKQKD1sBRUNNVQAIUEFLMBI0DQEM////
					/wz/////AAz/////AAAKZAANQkFUMAANMTIz
					NDU2Nzg5AA1MaU9OAA1QVEwAFEIHQlRTVABb
					I15eLwRQQ0kwTFBDQkVDMF9NVVQw//9wXl4v
					BFBDSTBMUENCRUMwX0IwSU5CU1RBWydeXi8E
					UENJMExQQ0JFQzBfTVVUMKAbk0JTVEEBoBOT
					QlRQXwBwAUJUQ0hwAUJUUF+hB3AAQlRQXxRI
					N19CSUYACF9UXzIACF9UXzEACF9UXzAAcA1C
					SUYwAFsxWyNeXi8EUENJMExQQ0JFQzBfTVVU
					MP//cF5eLwRQQ0kwTFBDQkVDMF9EQ1AwiFBB
					SzABAHBeXi8EUENJMExQQ0JFQzBfRkNQMGBw
					YIhQQUswCgIAcF5eLwRQQ0kwTFBDQkVDMF9E
					VlQwiFBBSzAKBABwXl4vBFBDSTBMUENCRUMw
					X0ROTjBhcF5eLwRQQ0kwTFBDQkVDMF9CU04w
					YnBeXi8EUENJMExQQ0JFQzBfQkNOMGNwXl4v
					BFBDSTBMUENCRUMwX01OTjBkWydeXi8EUENJ
					MExQQ0JFQzBfTVVUMHB4YAoKAACIUEFLMAoF
					AHAAiFBBSzAKBgBwYV9UXzCgGJNfVF8wAHAN
					VW5rbm93AIhQQUswCgkAoRmgF5NfVF8wCv9w
					DURlbGwAiFBBSzAKCQBwSVRPU1spYgCIUEFL
					MAoKAHBjX1RfMaAYk19UXzEAcA1Vbmtub3cA
					iFBBSzAKCwChQg2gFpNfVF8xAXANUEJBQwCI
					UEFLMAoLAKFIC6AXk19UXzEKAnANTElPTgCI
					UEFLMAoLAKFNCaAXk19UXzEKA3ANTklDRACI
					UEFLMAoLAKFCCKAXk19UXzEKBHANTklNSACI
					UEFLMAoLAKFHBqAXk19UXzEKBXANTklaTgCI
					UEFLMAoLAKFMBKAWk19UXzEKBnANUkFNAIhQ
					QUswCgsAoTKgF5NfVF8xCgdwDVpOQVIAiFBB
					SzAKCwChGKAWk19UXzEKCHANTElQAIhQQUsw
					CgsAcGRfVF8yoBiTX1RfMgBwDVVua25vdwCI
					UEFLMAoMAKFND6AWk19UXzIBcA1EZWxsAIhQ
					QUswCgwAoUMOoBeTX1RfMgoCcA1TT05ZAIhQ
					QUswCgwAoUgMoBiTX1RfMgoDcA1TQU5ZTwCI
					UEFLMAoMAKFMCqAck19UXzIKBHANUEFOQVNP
					TklDAIhQQUswCgwAoUwIoBuTX1RfMgoFcA1T
					T05ZX09MRACIUEFLMAoMAKFNBqAWk19UXzIK
					BnANU0RJAIhQQUswCgwAoUMFoBmTX1RfMgoH
					cA1TSU1QTE8AiFBBSzAKDAChNqAbk19UXzIK
					CHANTU9UT1JPTEEAiFBBSzAKDAChGKAWk19U
					XzIKCXANTEdDAIhQQUswCgwApFBBSzAURAZJ
					VE9TAXARDAoJMAAAAAAAAAAAYHARFAoRMDEy
					MzQ1Njc4OUFCQ0RFRgBncAoIYXAAYnAAY6Iq
					YXZhe3poeWEKAgAACg9koAVkcP9joBNjR0JG
					RWdkcWVQQkZFYGJldWKkYBQTR0JGRQOMaGlU
					SURYcFRJRFhqFBNQQkZFA4xoaVRJRFhwalRJ
					RFgIQkZCMBIOBAAM/////ws0EAswKhRHG19C
					U1QAoEoXk01ZOUYAWyNeXi8EUENJMExQQ0JF
					QzBfTVVUMP//cF5eLwRQQ0kwTFBDQkVDMF9C
					MERDYHBeXi8EUENJMExQQ0JFQzBfQjBJQ2F5
					YQFhcmBhYHBeXi8EUENJMExQQ0JFQzBfQjBD
					TGFbJ15eLwRQQ0kwTFBDQkVDMF9NVVQweWEK
					AmFyYGFgcGCIQkZCMAAAWyNeXi8EUENJMExQ
					Q0JFQzBfTVVUMP//cF5eLwRQQ0kwTFBDQkVD
					MF9DQVAwiEJGQjAKAgBwXl4vBFBDSTBMUENC
					RUMwX1ZPVDCIQkZCMAoDAFsnXl4vBFBDSTBM
					UENCRUMwX01VVDBbI15eLwRQQ0kwTFBDQkVD
					MF9NVVQw//9wXl4vBFBDSTBMUENCRUMwX0NS
					VDBgWydeXi8EUENJMExQQ0JFQzBfTVVUMKAG
					k2AAdWChK6AQUFdSU6AKe2ALAIAAcP9goRig
					EXtgCwCAAHQAYGB7YAv//2ChBHD/YHBgiEJG
					QjABAKEvcACIQkZCMAAAcAz/////iEJGQjAB
					AHALNBCIQkZCMAoCAHALMCqIQkZCMAoDAKRC
					RkIw
					</data>
					<key>Replace</key>
					<data>
					W4JEbkJBVDAIX0hJRAxB0AwKCF9VSUQACF9Q
					Q0wSBgFQQ0kwCEJUUF8ACEJUQ0gACEJTVEEA
					FCFfU1RBAKAKk0VDT04ApAoPoQ+gCEJTVEGk
					Ch+hBKQKD1sBRUNNVQAIUEFLMBI0DQEM////
					/wz/////AAz/////AAAKZAANQkFUMAANMTIz
					NDU2Nzg5AA1MaU9OAA1QVEwAFEIHQlRTVABb
					I15eLwRQQ0kwTFBDQkVDMF9NVVQw//9wXl4v
					BFBDSTBMUENCRUMwX0IwSU5CU1RBWydeXi8E
					UENJMExQQ0JFQzBfTVVUMKAbk0JTVEEBoBOT
					QlRQXwBwAUJUQ0hwAUJUUF+hB3AAQlRQXxRI
					M19CSUYACF9UXzIACF9UXzEACF9UXzAAcA1C
					SUYwAFsxWyNeXi8EUENJMExQQ0JFQzBfTVVU
					MP//cEIxQjJeXi8EUENJMExQQ0JFQzBfU0NQ
					MF5eLwRQQ0kwTFBDQkVDMF9TQ1AxiFBBSzAB
					AHBCMUIyXl4vBFBDSTBMUENCRUMwX1NGQzBe
					Xi8EUENJMExQQ0JFQzBfU0ZDMWBwYIhQQUsw
					CgIAcEIxQjJeXi8EUENJMExQQ0JFQzBfU1ZU
					MF5eLwRQQ0kwTFBDQkVDMF9TVlQxiFBBSzAK
					BABwXl4vBFBDSTBMUENCRUMwX0ROTjBhcEIx
					QjJeXi8EUENJMExQQ0JFQzBfU0JOMF5eLwRQ
					Q0kwTFBDQkVDMF9TQk4xYnBeXi8EUENJMExQ
					Q0JFQzBfQkNOMGNwXl4vBFBDSTBMUENCRUMw
					X01OTjBkWydeXi8EUENJMExQQ0JFQzBfTVVU
					MHB4YAoKAACIUEFLMAoFAHAAiFBBSzAKBgBw
					YV9UXzCgGJNfVF8wAHANVW5rbm93AIhQQUsw
					CgkAoRmgF5NfVF8wCv9wDURlbGwAiFBBSzAK
					CQBwSVRPU1spYgCIUEFLMAoKAHBjX1RfMaAY
					k19UXzEAcA1Vbmtub3cAiFBBSzAKCwChMqAW
					k19UXzEBcA1QQkFDAIhQQUswCgsAoRmgF5Nf
					VF8xCgJwDUxJT04AiFBBSzAKCwBwZF9UXzKg
					GJNfVF8yAHANVW5rbm93AIhQQUswCgwAoU0P
					oBaTX1RfMgFwDURlbGwAiFBBSzAKDAChQw6g
					F5NfVF8yCgJwDVNPTlkAiFBBSzAKDAChSAyg
					GJNfVF8yCgNwDVNBTllPAIhQQUswCgwAoUwK
					oByTX1RfMgoEcA1QQU5BU09OSUMAiFBBSzAK
					DAChTAigG5NfVF8yCgVwDVNPTllfT0xEAIhQ
					QUswCgwAoU0GoBaTX1RfMgoGcA1TREkAiFBB
					SzAKDAChQwWgGZNfVF8yCgdwDVNJTVBMTwCI
					UEFLMAoMAKE2oBuTX1RfMgoIcA1NT1RPUk9M
					QQCIUEFLMAoMAKEYoBaTX1RfMgoJcA1MR0MA
					iFBBSzAKDACkUEFLMBREBklUT1MBcBEMCgkw
					AAAAAAAAAABgcBEUChEwMTIzNDU2Nzg5QUJD
					REVGAGdwCghhcABicABjoiphdmF7emh5YQoC
					AAAKD2SgBWRw/2OgE2NHQkZFZ2RxZVBCRkVg
					YmV1YqRgFBNHQkZFA4xoaVRJRFhwVElEWGoU
					E1BCRkUDjGhpVElEWHBqVElEWAhCRkIwEg4E
					AAz/////CzQQCzAqFE8fX0JTVACgQhyTTVk5
					RgBbI15eLwRQQ0kwTFBDQkVDMF9NVVQw//9w
					Xl4vBFBDSTBMUENCRUMwX0IwRENgcF5eLwRQ
					Q0kwTFBDQkVDMF9CMElDYXlhAWFyYGFgcF5e
					LwRQQ0kwTFBDQkVDMF9CMENMYVsnXl4vBFBD
					STBMUENCRUMwX01VVDB5YQoCYXJgYWBwYIhC
					RkIwAABbI15eLwRQQ0kwTFBDQkVDMF9NVVQw
					//9wQjFCMl5eLwRQQ0kwTFBDQkVDMF9TQVAw
					Xl4vBFBDSTBMUENCRUMwX1NBUDGIQkZCMAoC
					AHBCMUIyXl4vBFBDSTBMUENCRUMwX1NPVDBe
					Xi8EUENJMExQQ0JFQzBfU09UMYhCRkIwCgMA
					WydeXi8EUENJMExQQ0JFQzBfTVVUMFsjXl4v
					BFBDSTBMUENCRUMwX01VVDD//3BCMUIyXl4v
					BFBDSTBMUENCRUMwX1NSVDBeXi8EUENJMExQ
					Q0JFQzBfU1JUMWBbJ15eLwRQQ0kwTFBDQkVD
					MF9NVVQwoAaTYAB1YKEroBBQV1JToAp7YAsA
					gABw/2ChGKARe2ALAIAAdABgYHtgC///YKEE
					cP9gcGCIQkZCMAEAoS9wAIhCRkIwAABwDP//
					//+IQkZCMAEAcAs0EIhCRkIwCgIAcAswKohC
					RkIwCgMApEJGQjA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ECRAM 16to8</string>
					<key>Find</key>
					<data>
					RUNSTQMACwABW4FCQkVDUk0RV0tFVggASAtQ
					UlRDCFNTVEEIU0FEUghTQ01ECFNNSUQIU0RB
					VAhTRFQxCABIDkJDTlQIQUxSQQhBTEQwCEFM
					RDEIQUNJTgFQV09OAUlOUzMBV1BTVwFJTlM0
					AVNNT04BV1BXRwFSVkNPAVNVU0IBU1VTQwFG
					QU5PAVNOSUYBTElEQQEAA0tCQlABREFEUAFN
					TUJUAUtCU08BS0JFUgFFQ0NCAUNJUkIBTVVU
					RQFUU04wAVRTTjEBT1NUUAFUU04yAUVCSzAB
					RUJLMQFFQksyAUVCSzMBAAgABFFBM0UBAEMF
					VE9GUwgAEFRUUlQBQ0NQVQEADk9UUEMIVkdB
					VAhDSFBUCENQVVQIU1lTVAhEVFMxCERUUzII
					ABBIV1NOCENUWVAIRkNOVAFGVFNUAQADRkFE
					SgFUQ1RMAUZBVE8BREFDMQhEQUMyCEZMVkwI
					Q1RMMRBDVEwyEEZBTkgIRkFOTAhSUE0yEEZU
					QUMQRlNQRBBTTEVEAU5MRUQBQ0xFRAEABUJU
					MUwBQlQyTAFTTklMAQAVQkxCVQFCTEJEAUJM
					QkgBAAVCSExMCEJUTEwIQlRMSQgACFNWUEwI
					RElBRwhLTEVECAAgQUNUUAgACE5PUzAIADBB
					Q09TCAAIS0JUTAhLQkJMCEJSU0wIUExHSAhQ
					TEdMCABIBlNCRjAIABBDQVAwEFJDUDAQVk9U
					MBBDUlQwEEJUTTAQQlNUMBBCUkMwEEZDUDAQ
					RENQMBBEVlQwEE1FUjAQTUZEMBBCU04wEE1B
					UzAQADhCQ1MwCE1OTjAIRE5OMAhCQ04wCEJP
					QzAIQkZDMAhCTUQwCENQTDAIQjBJTgFCMERZ
					AUIwUEYBQjBURgFCMENMAUIwTFcBQjBEQwFC
					MEREAUIwRkMBQjBQQwFCME9UAQABQjBXSwFC
					MElDAUIwV0MBQjBMMwFCMEZHAUIwREcBQjBW
					TAFCMFJZAUIwQUwBQjBBRgFCME5JAUIwTEkB
					U01FMAFTTUUxAVNNRTIBU01FMwFGTERHAUZM
					Q0cBRFNHMAFJTklUAVJUQU0BUkNBTQEAAVRE
					QU0BT1RBTQEAAVRDQU0BT0NBTQFDQVAxEFJD
					UDEQVk9UMRBDUlQxEEJUTTEQQlNUMRBCUkMx
					EEZDUDEQRENQMRBEVlQxEE1FUjEQTUZEMRBC
					U04xEE1BUzEQADhCQ1MxCE1OTjEIRE5OMQhC
					Q04xCEJPQzEIQkZDMQhCTUQxCENQTDEIQjFJ
					TgFCMURZAUIxUEYBQjFURgFCMUNMAUIxTFcB
					QjFEQwFCMUREAUIxRkMBQjFQQwFCMU9UAQAB
					QjFXSwFCMUlDAUIxV0MBQjFMMwFCMUZHAUIx
					REcBQjFWTAFCMVJZAUIxQUwBQjFBRgFCMU5J
					AUIxTEkBU0xNMQhTTE0y
					</data>
					<key>Replace</key>
					<data>
					RUNSTQMACwABW4FFREVDUk0RV0tFVggASAtQ
					UlRDCFNTVEEIU0FEUghTQ01ECFNNSUQIU0RB
					VAhTRFQxCABIDkJDTlQIQUxSQQhBTEQwCEFM
					RDEIQUNJTgFQV09OAUlOUzMBV1BTVwFJTlM0
					AVNNT04BV1BXRwFSVkNPAVNVU0IBU1VTQwFG
					QU5PAVNOSUYBTElEQQEAA0tCQlABREFEUAFN
					TUJUAUtCU08BS0JFUgFFQ0NCAUNJUkIBTVVU
					RQFUU04wAVRTTjEBT1NUUAFUU04yAUVCSzAB
					RUJLMQFFQksyAUVCSzMBAAgABFFBM0UBAEMF
					VE9GUwgAEFRUUlQBQ0NQVQEADk9UUEMIVkdB
					VAhDSFBUCENQVVQIU1lTVAhEVFMxCERUUzII
					ABBIV1NOCENUWVAIRkNOVAFGVFNUAQADRkFE
					SgFUQ1RMAUZBVE8BREFDMQhEQUMyCEZMVkwI
					Q1RMMRBDVEwyEEZBTkgIRkFOTAhSUE0yEEZU
					QUMQRlNQRBBTTEVEAU5MRUQBQ0xFRAEABUJU
					MUwBQlQyTAFTTklMAQAVQkxCVQFCTEJEAUJM
					QkgBAAVCSExMCEJUTEwIQlRMSQgACFNWUEwI
					RElBRwhLTEVECAAgQUNUUAgACE5PUzAIADBB
					Q09TCAAIS0JUTAhLQkJMCEJSU0wIUExHSAhQ
					TEdMCABIBlNCRjAIABBTQVAwCFNBUDEIUkNQ
					MBBTT1QwCFNPVDEIU1JUMAhTUlQxCEJUTTAQ
					QlNUMBBCUkMwEFNGQzAIU0ZDMQhTQ1AwCFND
					UDEIU1ZUMAhTVlQxCE1FUjAQTUZEMBBTQk4w
					CFNCTjEITUFTMBAAOEJDUzAITU5OMAhETk4w
					CEJDTjAIQk9DMAhCRkMwCEJNRDAIQ1BMMAhC
					MElOAUIwRFkBQjBQRgFCMFRGAUIwQ0wBQjBM
					VwFCMERDAUIwREQBQjBGQwFCMFBDAUIwT1QB
					AAFCMFdLAUIwSUMBQjBXQwFCMEwzAUIwRkcB
					QjBERwFCMFZMAUIwUlkBQjBBTAFCMEFGAUIw
					TkkBQjBMSQFTTUUwAVNNRTEBU01FMgFTTUUz
					AUZMREcBRkxDRwFEU0cwAUlOSVQBUlRBTQFS
					Q0FNAQABVERBTQFPVEFNAQABVENBTQFPQ0FN
					AUNBUDEQUkNQMRBWT1QxEENSVDEQQlRNMRBC
					U1QxEEJSQzEQRkNQMRBEQ1AxEERWVDEQTUVS
					MRBNRkQxEEJTTjEQTUFTMRAAOEJDUzEITU5O
					MQhETk4xCEJDTjEIQk9DMQhCRkMxCEJNRDEI
					Q1BMMQhCMUlOAUIxRFkBQjFQRgFCMVRGAUIx
					Q0wBQjFMVwFCMURDAUIxREQBQjFGQwFCMVBD
					AUIxT1QBAAFCMVdLAUIxSUMBQjFXQwFCMUwz
					AUIxRkcBQjFERwFCMVZMAUIxUlkBQjFBTAFC
					MUFGAUIxTkkBQjFMSQFTTE0xCFNMTTI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>B1B2-PM30-SLPE</string>
					<key>Find</key>
					<data>
					X1BJQwFwaEdQSUNwaFBJQ00UTwhfUFRTAXAA
					UDgwRFA4WEgAaHABTVk5RqAck2gKA6AWkERU
					U0WUVENOVAFUUkFQVFJURAoeoEgFkZNoCgOT
					aAoEoEYEk2gKBFsjXC8FX1NCX1BDSTBMUENC
					RUMwX01VVDD//1wuX1NCX1BIU1IKslsnXC8F
					X1NCX1BDSTBMUENCRUMwX01VVDBwAVNMUE8U
					Sy1fV0FLCVA4WEgACqtwAE1ZOUagN05FWFCg
					GHtPU0NDCgIAXC8DX1NCX1BDSTBOSFBHoBh7
					T1NDQwoEAFwvA19TQl9QQ0kwTlBNRaBNBZCT
					aAoEk0VDT04BWyNcLwVfU0JfUENJMExQQ0JF
					QzBfTVVUMP//cE9TVFlcLwVfU0JfUENJMExQ
					Q0JFQzBfQUNPU1snXC8FX1NCX1BDSTBMUENC
					RUMwX01VVDCgTReRk2gKA5NoCgSgFpBEVFNF
					lFRDTlQBVFJBUFRSVEQKFKBLC5NPU1lTC9IH
					oEALe0NGR0QBAKBLBZRcLwNfUFJfQ1BVMF9Q
					UEMAdFwvA19QUl9DUFUwX1BQQwFcLwNfUFJf
					Q1BVMF9QUENQTk9UclwvA19QUl9DUFUwX1BQ
					QwFcLwNfUFJfQ1BVMF9QUENQTk9UoUoEclwv
					A19QUl9DUFUwX1BQQwFcLwNfUFJfQ1BVMF9Q
					UENQTk9UdFwvA19QUl9DUFUwX1BQQwFcLwNf
					UFJfQ1BVMF9QUENQTk9UoBiTUlAxRACGXC8D
					X1NCX1BDSTBSUDAxAKAYk1JQMkQAhlwvA19T
					Ql9QQ0kwUlAwMgCgGJNSUDVEAIZcLwNfU0Jf
					UENJMFJQMDUAoBiTUlA2RACGXC8DX1NCX1BD
					STBSUDA2AKAskpNNWTlBAHAATVk5QXAAXC8D
					X1BSX0NQVTBfUFBDhlwuX1BSX0NQVTAKgKAN
					k0JSSUQAcABTTFBPWyNcLwVfU0JfUENJMExQ
					Q0JFQzBfTVVUMP//cFwvBV9TQl9QQ0kwTFBD
					QkVDMF9BQ0lOUFdSU1snXC8FX1NCX1BDSTBM
					UENCRUMwX01VVDCGXC5fU0JfQURQMAqAWyNc
					LwVfU0JfUENJMExQQ0JFQzBfTVVUMP//XC8D
					X1NCX0JBVDBCVFNUWydcLwVfU0JfUENJMExQ
					Q0JFQzBfTVVUMIZcLl9TQl9CQVQwCoCkEgQC
					AAAUHg==
					</data>
					<key>Replace</key>
					<data>
					X1BJQwFwaEdQSUNwaFBJQ00UEEIxQjICfXlp
					CggAaGCkYFuAU0xQUgFQTTMwCghbgQ1TTFBS
					AQAEU0xQRQEUTwlfUFRTAXAAUDgwRFA4WEgA
					aHABTVk5RqAck2gKA6AWkERUU0WUVENOVAFU
					UkFQVFJURAoeoEgFkZNoCgOTaAoEoEYEk2gK
					BFsjXC8FX1NCX1BDSTBMUENCRUMwX01VVDD/
					/1wuX1NCX1BIU1IKslsnXC8FX1NCX1BDSTBM
					UENCRUMwX01VVDBwAVNMUE+gD5NoCgVwAFNM
					UEVbIgoQFEstX1dBSwlQOFhIAAqrcABNWTlG
					oDdORVhQoBh7T1NDQwoCAFwvA19TQl9QQ0kw
					TkhQR6AYe09TQ0MKBABcLwNfU0JfUENJME5Q
					TUWgTQWQk2gKBJNFQ09OAVsjXC8FX1NCX1BD
					STBMUENCRUMwX01VVDD//3BPU1RZXC8FX1NC
					X1BDSTBMUENCRUMwX0FDT1NbJ1wvBV9TQl9Q
					Q0kwTFBDQkVDMF9NVVQwoE0XkZNoCgOTaAoE
					oBaQRFRTRZRUQ05UAVRSQVBUUlREChSgSwuT
					T1NZUwvSB6BAC3tDRkdEAQCgSwWUXC8DX1BS
					X0NQVTBfUFBDAHRcLwNfUFJfQ1BVMF9QUEMB
					XC8DX1BSX0NQVTBfUFBDUE5PVHJcLwNfUFJf
					Q1BVMF9QUEMBXC8DX1BSX0NQVTBfUFBDUE5P
					VKFKBHJcLwNfUFJfQ1BVMF9QUEMBXC8DX1BS
					X0NQVTBfUFBDUE5PVHRcLwNfUFJfQ1BVMF9Q
					UEMBXC8DX1BSX0NQVTBfUFBDUE5PVKAYk1JQ
					MUQAhlwvA19TQl9QQ0kwUlAwMQCgGJNSUDJE
					AIZcLwNfU0JfUENJMFJQMDIAoBiTUlA1RACG
					XC8DX1NCX1BDSTBSUDA1AKAYk1JQNkQAhlwv
					A19TQl9QQ0kwUlAwNgCgLJKTTVk5QQBwAE1Z
					OUFwAFwvA19QUl9DUFUwX1BQQ4ZcLl9QUl9D
					UFUwCoCgDZNCUklEAHAAU0xQT1sjXC8FX1NC
					X1BDSTBMUENCRUMwX01VVDD//3BcLwVfU0Jf
					UENJMExQQ0JFQzBfQUNJTlBXUlNbJ1wvBV9T
					Ql9QQ0kwTFBDQkVDMF9NVVQwhlwuX1NCX0FE
					UDEKgFsjXC8FX1NCX1BDSTBMUENCRUMwX01V
					VDD//1wvA19TQl9CQVQwQlRTVFsnXC8FX1NC
					X1BDSTBMUENCRUMwX01VVDCGXC5fU0JfQkFU
					MAqApBIEAgAAFB4=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Deactivate FOWM()</string>
					<key>Find</key>
					<data>
					NEZPV00CWyNQU01Y//9wCuBXQ01EcApXVFBJ
					RHBoV0NDTHBpV0NTRXAAUEhYSVsnUFNNWA==
					</data>
					<key>Replace</key>
					<data>
					BkZPV00C
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HPET 4xIRQ</string>
					<key>Find</key>
					<data>
					EQoO
					</data>
					<key>Replace</key>
					<data>
					FAoRIgGJ
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ADP0 -&gt; ADP1</string>
					<key>Find</key>
					<data>
					QURQMA==
					</data>
					<key>Replace</key>
					<data>
					QURQMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT0 -&gt; SATA</string>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT1 -&gt; SSAT</string>
					<key>Find</key>
					<data>
					U0FUMQ==
					</data>
					<key>Replace</key>
					<data>
					U1NBVA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GFX0 -&gt; IGPU</string>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Q80 -&gt; O80</string>
					<key>Find</key>
					<data>
					X1E4MA==
					</data>
					<key>Replace</key>
					<data>
					X084MA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Q81 -&gt; O81</string>
					<key>Find</key>
					<data>
					X1E4MQ==
					</data>
					<key>Replace</key>
					<data>
					X084MQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Q8A -&gt; O8A</string>
					<key>Find</key>
					<data>
					X1E4QQ==
					</data>
					<key>Replace</key>
					<data>
					X084QQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Q8C -&gt; O8C</string>
					<key>Find</key>
					<data>
					X1E4Qw==
					</data>
					<key>Replace</key>
					<data>
					X084Qw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>QAF -&gt; OAF</string>
					<key>Find</key>
					<data>
					X1FBRg==
					</data>
					<key>Replace</key>
					<data>
					X09BRg==
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>C3Latency</key>
			<integer>250</integer>
			<key>DropOem</key>
			<false/>
			<key>EnableC2</key>
			<false/>
			<key>EnableC4</key>
			<false/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>slide=0 kext-dev-mode=1</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Fast</key>
		<false/>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>2</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>YES</string>
		</dict>
		<key>Inject</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>InjectKexts</key>
					<true/>
					<key>SubEntries</key>
					<true/>
					<key>Title</key>
					<string>Recovery</string>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Volume</key>
					<string>Recovery HD</string>
				</dict>
			</array>
			<key>Tool</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<true/>
					<key>Hotkey</key>
					<string>B</string>
					<key>Path</key>
					<string>\EFI\CLOVER\tools\SHELL2.efi</string>
					<key>Title</key>
					<string>UEFI Shell 2.0</string>
					<key>Volume</key>
					<string>EFI</string>
				</dict>
			</array>
		</dict>
		<key>Debug</key>
		<false/>
		<key>Hide</key>
		<array>
			<string>System Reserved</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>TextOnly</key>
		<true/>
		<key>Theme</key>
		<string>black_green</string>
		<key>Timeout</key>
		<integer>2</integer>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<string>0</string>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>BCM Handoff</string>
				<key>Find</key>
				<data>
				SIXAdFwPt0gQ
				</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA61kQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>LoginWindow White</string>
				<key>Find</key>
				<data>
				hcB0a0g=
				</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				McB0W0g=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>LoginWindow Black</string>
				<key>Find</key>
				<data>
				QYjE6xE=
				</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				QYjE6zE=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>XHCI - eliminate chip make check</string>
				<key>Find</key>
				<data>
				1AAAAIB1
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				1AAAAIDr
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>XHCI - eliminate chip version check 10.9</string>
				<key>Find</key>
				<data>
				Zj0AAQ==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				Zj0AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>XHCI - eliminate chip version check 10.10</string>
				<key>Find</key>
				<data>
				PQABAAAP
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				PQAAAAAP
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>XHCI - use single interrupter</string>
				<key>Find</key>
				<data>
				CAAAQA==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				CAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>XHCI - disable sleep code</string>
				<key>Find</key>
				<data>
				yAAAAAE=
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				yAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>XHCI - pm not present in ACPI</string>
				<key>Find</key>
				<data>
				SIXAdU0=
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				SIXA600=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Broadcom BCM43xx AirPort</string>
				<key>Find</key>
				<data>
				axAAAHUN
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				axAAAJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI+VGA</string>
				<key>Find</key>
				<data>
				AQIEABAHAAAQBwAABQMAAAIAAAAwAAAAAgUAAAAEAAAH
				AAAAAwQAAAAEAAAJAAAABAYAAAAEAAAJAAAA
				</data>
				<key>Name</key>
				<string>AppleIntelSNBGraphicsFB</string>
				<key>Replace</key>
				<data>
				AQIDABAHAAAQBwAABQMAAAIAAAAwAAAABgIAAAIAAAAw
				AAAAAgUAAAAIAAAHAAAAAAAAAAAAAAAAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xml.zlib -&gt; aml.zlib</string>
				<key>Find</key>
				<data>
				eG1sLnps
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				YW1sLnps
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AD1984 -&gt; ALC269 Codec</string>
				<key>Find</key>
				<data>
				hBnUEQ==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				aQLsEA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AD1984 -&gt; ALC269 FG-WF</string>
				<key>Find</key>
				<data>
				QUQxOTg0
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				QUxDMjY5
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AD1984 -&gt; ALC269 ASCII</string>
				<key>Find</key>
				<data>
				MTFENDE5ODQ=
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				MTBFQzAyNjk=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Zero out jne chk for 10.7 and 10.11</string>
				<key>Find</key>
				<data>
				gxnUEQ==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Zero our jne chk for 10.7 and up</string>
				<key>Find</key>
				<data>
				hAjsEA==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSD TRIM</string>
				<key>Find</key>
				<data>
				QVBQTEUgU1NE
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>MLB</key>
		<string>SG2FMWM5UD4LC</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>02/23/12</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP81.88Z.0047.B27.1201241646</string>
		<key>Board-ID</key>
		<string>Mac-94245B3640C91C81</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>SG2FMWM5UD4LC</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<string>Yes</string>
		<key>ProductName</key>
		<string>MacBookPro8,1</string>
		<key>SerialNumber</key>
		<string>SG2FM6ND</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
